fastapi
uvicorn[standard]
python-telegram-bot[job-queue]
python-telegram-bot==21.*
python-dotenv
starlette
asyncpg
opencv-python-headless
numpy
python-dotenv
aiofiles
openai
backoff
pydantic
aiogram
pydantic-settings
httpx
